#logo {

	border-top:100px, ;
}

body{
	background-color: #a8d0e6
}

h1, h5, div {
	text-align: center;
	   
   }

 h1 {
 	font-family: 'Abril Fatface', cursive;
 }

 #youtube-logo
 		{height: 96px;
 			width: 96px;
 		}

.search-bar[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.search-bar[type=text]:focus {
    width: 100%;
}