#logo {

	border-top:100px, ;
}

body{
	background-color: #efb4b3
}

.display-3{


    font-family: 'Sedgwick Ave', cursive;

    font-family: 'Abril Fatface', cursive;

}

.lead{
	font-family: 'Pacifico', cursive;
}

h1, h5, div {
	text-align: center;
	   
    
   
}