#search-bar, .searchTerm {
  margin: auto;
  text-align: center;
}

.title {
  font-family: 'Abril Fatface', cursive;
  font-size: 100px;
  text-align: center;
}

.subtitle {
  font-size: 25px;
  font-style: italic;
  text-align: center;
}

.left-side-panel, .right-side-panel {
  border-color: red;
  border-size: 10px;
}

body {
  background-color: #a8d0e6;
  padding: 40px 0px;
}

#music-font-only {
  color: #374785;
}

.music {
  opacity: 0.8;
  animation: flicker 1s infinite;
}

@keyframes flicker {
  to {
    opacity: 0.5;
    color: red;
  }
}

::-webkit-input-placeholder {
  color: #374785;
  font: italic;
}

#youtube-logo {
  height: 96px;
  width: 96px;
}

.video-display, .center-text {
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
}

.video-display {
  padding-top: 30px;
  padding-bottom: 30px;
}

.artist-info-display {
  max-width: 640px;
  max-height: 400px;
  overflow: scroll;
  margin: auto;
  border: #dddddd solid 6px;
  border-radius: 2%;
  padding: 10px 20px 20px 20px;
}

iframe {
  border: #dddddd solid 6px;
  border-radius: 2%;
}
